[Desktop Entry]
Type=Application
Name=iPad Tablet Backend
Comment=Use an iPad and Apple Pencil as a display and OpenTabletDriver tablet
Exec=ipad-tablet-backend-gui
Icon=dev.david.ipad-tablet-backend
Terminal=false
Categories=Graphics;Utility;
Keywords=iPad;Apple Pencil;Tablet;OpenTabletDriver;Streaming;
