# Let members of the input group create the virtual iPad Pencil device.
KERNEL=="uinput", GROUP="input", MODE="0660", OPTIONS+="static_node=uinput"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="iPad Pro Apple Pencil (Network)", GROUP="input", MODE="0660"
